.main-container {
    background-color: #262E34;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    height: auto;
}

p {
    font-family: 'Josefin Sans';
    font-size: 32px;
    font-weight: 400;
    color: #89BCD9;
}

.quote {
    width: 450px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url('./../../assets/Ellipse\ 02.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
        animation: swapBg 0.6s forwards;
    }

    p {
        width: 30ch;
    }

    a {
        color: #89BCD9;
        font-family: 'Josefin Sans';
        font-size: 16px;
        font-weight: 400;
        margin-top: 24px;
    }

    :hover {
        cursor: default;
    }
}

@keyframes swapBg {
    0% {
        background-image: url('./../../assets/Ellipse\ 02.png');
    }

    100% {
        background-image: url('./../../assets/quote on hover.png');
    }
}

.colleagues-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.colleagues-names {
    font-family: 'Josefin Sans';
    font-size: 26px;
    font-weight: 600;
    color: white;
}

.prject-name {
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.colleagues-text {
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.contact-me-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-contact-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

h1 {
    font-size: 54px;
    font-weight: 400;
    color: #89BCD9;
}

.up-arrow {
    position: absolute;
    right: 30px;
    transition: background-color 0.2s ease-out;
    border-radius: 30px;

    &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.5);
    }
}

.why-contact-me {
    width: 40ch;
}

.main-contact-data-container {
    display: flex;
    justify-content: flex-start;
    gap: 72px;

    span {
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 18px;
        color: white;
        line-height: 130%;
    }
}

.contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.contact-data-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

.mail-and-phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.name-and-email-container {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.sender-data-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
        font-family: 'Josefin Sans';
        font-size: 14px;
        font-weight: 400;
        color: #89BCD9;
        margin-left: 48px;
    }

    input {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 30px;
        width: 400px;
        height: 60px;
        background-color: transparent;
        border: 1px solid #89BCD9;
        outline: none;
        color: white;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            background-color: rgb(49, 63, 72);
        }
    }

}

.msg-area {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
        font-family: 'Josefin Sans';
        font-size: 14px;
        font-weight: 400;
        color: #89BCD9;
        margin-left: 48px;
    }

    textarea {
        resize: none;
        overflow: hidden;
        padding: 30px;
        height: 150px;
        border-radius: 30px;
        background-color: transparent;
        border: 1px solid #89BCD9;
        outline: none;
        color: white;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            background-color: rgb(49, 63, 72);
        }
    }
}

.policy-check-div {
    min-height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-checkbox {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    color: white;
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 400;

    a {
        text-decoration: none;
        color: #89BCD9;
    }

    img {
        transition: transform 0.2s ease;
        width: 24px;
        height: 24px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}


.error-message {
    color: #E44C36;
    font-size: 14px;
    margin-top: 10px;
}


.invalid-field {
    border: 1px solid #E44C36 !important;
  }