<div class="main-container">
    <p>Need a teamplayer? Here what my colleagues said about me</p>
    <div class="colleagues-container">
        <div class="quote">
            <div class="name-container">
                <div class="colleagues-names">Sahra Müller</div>
                <span class="prject-name">Project <span style="color: #89BCD9;">DA Buble</span></span>
            </div>
            <p class="colleagues-text">
                ‘’Fourat had to develop, format and deliver content in collaboration with the team members. He is a
                reliable and friendly person.’’
            </p>
            <a href="#">Linked in Profile</a>
        </div>
        <div class="quote">
            <div class="name-container">
                <div class="colleagues-names">Sahra Müller</div>
                <span class="prject-name">Project <span style="color: #89BCD9;">Join</span></span>
            </div>
            <p class="colleagues-text">
                ‘’Fourat is a reliable and friendly person. Works in a structured way and write a clear code.
                I recommend him
                as a colleague.’’
            </p>
            <a href="#">Linked in Profile</a>
        </div>
        <div class="quote">
            <div class="name-container">
                <div class="colleagues-names">Sahra Müller</div>
                <span class="prject-name">Project <span style="color: #89BCD9;">El Pollo loco</span></span>
            </div>
            <p class="colleagues-text">
                ‘’He is a trustworthy teamplayer and can cope with the stress of deadlines. Structured work and clear code. ‘’
            </p>
            <a href="#">Linked in Profile</a>
        </div>
    </div>
    <h1>Contact me</h1>
</div>