@mixin button($color, $bordercolor, $bgcolor, $width: 150px, $height: 50px) {
    color: $color;
    font-family: 'Josefin Sans';
    border: 1px solid $bordercolor;
    background-color: $bgcolor;
    width: $width;
    height: $height;
    font-size: 18px;
    border-radius: 30px;
    transition: background-color 0.2s ease-in-out;
}

.test-button {
    @include button(#262E34, transparent, #a5cade);

    &:hover {
        cursor: pointer;
        background-color: rgba(248, 245, 236, 0.8);
    }
}

.github-button {
    @include button(#89BCD9, #89BCD9, transparent);

    &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.5);
    }
}

.contact-button {
    @include button(#89BCD0, #89BCD0, transparent);

    &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.5);
    }
}

.send-button {

}