<div class="main-container" *ngIf="selectedProject">
    <div style="width: 65%;">
        <div class="description">
            <img src="./assets/Ellipse 8.png">
            <div class="descriptions-container">
                <div class="duration">
                    <h1>About the project</h1>
                    <div class="duration-container">
                        Duration: {{ selectedProject.duration }}
                    </div>
                </div>
                <div class="description-text">{{ selectedProject.about }}</div>
            </div>
        </div>
        <div class="description">
            <img src="./assets/Ellipse 8.png">
            <div class="descriptions-container">
                <h1>How I have organised my work process</h1>
                <div class="description-text">{{ selectedProject.how }}</div>
            </div>
        </div>
        <div class="description">
            <img src="./assets/Ellipse 8.png">
            <div class="descriptions-container">
                <h1>What I have learnt</h1>
                <div class="description-text">{{ selectedProject.group }}</div>
            </div>
        </div>
    </div>
    <div class="project-picture-container">
        <div class="technologies-container">
            <h2 id="nonResponsiveH2">Technologies</h2>
            <h2 style="display: none;" id="responsiveH2">Technologies: 
                <span *ngFor="let skill of skillNames; let last = last">
                    {{ skill }}
                    <span *ngIf="!last">, </span>
                </span>
            </h2>
            <div id="responsiveDuration" style="display: none;" class="duration-container">
                Duration: {{ selectedProject.duration }}
            </div>
        </div>
        <div class="skill-icons-container">
            <img *ngFor="let icon of selectedProject.skillsIcons" [src]="icon" alt="Technology Icon">
        </div>
        <div>
            <img class="project-img" src="{{ selectedProject.pic }}" alt="">
        </div>
        <div class="buttons-container">
            <button class="test-button">Live Test</button>
            <button class="github-button">GitHub</button>
        </div>
    </div>
</div>