<div class="partition-container">
    <div class="img-me-container">
        <img src="./assets/me.png" class="img-me">
    </div>
    <div class="name-and-info-container">
        <div class="info-container">
            <div class="logo-and-hypertext-container">
                <div class="logo-container">
                    <img src="./assets/Logo icon.png">
                    <div style="color: #F8F5EC; font-weight: 400;">F.Oueslati</div>
                    <div style="color: #89BCD9; font-family: 'josefin sans'; font-weight: 300;">Developer</div>
                </div>
                <div class="hypertext-container">
                    <img [src]="emailIconSrc" (mouseover)="changeIcon(true, 'email')"
                        (mouseout)="changeIcon(false, 'email')">
                    <img [src]="gitHubIconSrc" (mouseover)="changeIcon(true, 'github')"
                        (mouseout)="changeIcon(false, 'github')">
                    <img [src]="linkedInIconSrc" (mouseover)="changeIcon(true, 'linkedin')"
                        (mouseout)="changeIcon(false, 'linkedin')">
                </div>
            </div>
            <div class="name-and-skill-container">
                <div style="font-family: 'anta'; color: #F8F5EC; font-size: 90px; font-weight: 400;">
                    Fourat Oueslati
                </div>
                <div style="font-family: 'josefin sans'; color: #F8F5EC; font-size: 40px; font-weight: 400;">
                    Frontend Developer
                </div>
            </div>
        </div>
        <a href="#whyMe"> <img class="arrow" src="./assets/Arrow down.png"></a>
    </div>
</div>