<div class="sections-bar">
    <div class="logo-container">
        <img src="./assets/Logo icon dark.png">
        <div style=" font-family: 'anta'; color: #F8F5EC;">F.Oueslati</div>
        <div style=" font-family: 'josefin sans'; color: #262E34; font-weight: 300;">Developer</div>
    </div>
    <div id="whyMe" class="sections-container">
        <a href="#whyMe">Why me</a>
        <a href="#mySkills">Skills</a>
        <a href="#myProjects">Projects</a>
        <a href="#contactMe">Contact</a>
    </div>
    <div class="translation-container">
        <button>
            DE
        </button>
        <button>
            EN
        </button>
    </div>
</div>